doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Hackathon - become a penguin
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='css/font-awesome.min.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/themify-icons.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/flexslider.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/lightbox.min.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/ytplayer.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/theme.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/custom.css', rel='stylesheet', type='text/css', media='all')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600', rel='stylesheet', type='text/css')

  body
    .nav-container
      nav.absolute.transparent
        .nav-bar
          .module.left
            a(href='index.html')
              img.logo.logo-light(alt='Foundry', src='img/logo-light.png')
              img.logo.logo-dark(alt='Foundry', src='img/logo-dark.png')
          .module.widget-handle.offscreen-toggle.right
            i.ti-menu
        .offscreen-container.bg-dark.text-center
          .close-nav
            a(href='#')
              i.ti-close
          .v-align-transform.text-center
            a(href='#')
              img.image-xs.mb40.mb-xs-24(alt='Logo', src='img/logo-light.png')
            ul.mb40.mb-xs-24
              li.fade-on-hover
                a(href='#')
                  h5.uppercase.mb8 Single Link
            p.fade-half
              | 438 Malvern Road
              br
              | Armadale, VIC 3134
              br
              | (03) 38237 37263
              br
              | hello@foundry.net
            ul.list-inline.social-list
              li
                a(href='#')
                  i.ti-twitter-alt
              | 
              li
                a(href='#')
                  i.ti-dribbble
              li
                a(href='#')
                  i.ti-vimeo-alt
    | &#x9;&#x9;
    | &#x9;&#x9;
    .main-container
      section.image-slider.slider-all-controls.controls-inside.parallax.pt0.pb0.height-70
        ul.slides
          li.overlay.image-bg
            .background-image-holder
              img.background-image(alt='image', src='img/home-2-8.jpg')
            .container.v-align-transform
              .row.text-center
                .col-md-10.col-md-offset-1
                  h2.mb-xs-16
                    | hack&lt;web&gt;
                    br
                    br
                    | #webdesignio
                  p.lead.mb40
                    | Open new opportunities to create websites for the age of connectedness.
                    br
                    | Become a penguin and step into your full potential - Jump into the water with us!
                  a.btn.btn-lg(href='#') Start Exploring
                  a.btn.btn-lg.btn-filled(href='#') Register
      section.bg-dark
        .container
          .row
            .col-sm-12.text-center
              h3.uppercase Why become a penguin?
          .row.mb80.mb-xs-24
            .col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1.text-center
              p
                | There is a more amazing way to create websites. We want to introduce a new way to create websites and to make it more fun for designers, developers and content editors - your customers! We also want to show you how easy it is these days to create scalable services and websites.
          .row
            .col-sm-5.col-sm-offset-1.text-center
              .feature.boxed
                h1.large 86%
                h5.uppercase Of swiss web designers and developers are unengaged at work
            .col-sm-5.text-center
              .feature.boxed
                h1.large 32
                h5.uppercase Attendees that will change that
      section.bg-primary
        .container
          .row
            .col-sm-12.text-center
              h3.mb0.inline-block.p32.p0-xs Join the community of penguins.
              a.btn.btn-lg.btn-white.mb8.mt-xs-24(href='#') SLACKIN
      section
        .container
          .row
            .col-md-4.col-sm-6
              .image-tile.outer-title.text-center
                img(alt='Pic', src='img/team-1.jpg')
                .title.mb16
                  h5.uppercase.mb0 developer
                  span Creative Director
                p.mb0
                  | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
            .col-md-4.col-sm-6
              .image-tile.outer-title.text-center
                img(alt='Pic', src='img/team-2.jpg')
                .title.mb16
                  h5.uppercase.mb0 Designer&nbsp;
                  span iOS Developer
                p.mb0
                  | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
            .col-md-4.col-sm-6
              .image-tile.outer-title.text-center
                img(alt='Pic', src='img/team-3.jpg')
                .title.mb16
                  h5.uppercase.mb0 Business
                  span Brand Director
                p.mb0
                  | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
      section.bg-dark
        .container
          .row
            .col-md-10
              h1.thin What is it about?
          .row.mb160.mb-xs-0
            .col-md-6.col-sm-8
              p.lead
                | A two-day hackathon aimed to build a fully working website, campaign page or landing page. We focus on tools that create leads, support your brand, boost sales, loyalty and engagement.
                br
                br
                b
                  | You need
                  br
                | Bring your laptop, creativity and skills and make that idea out of the back of your head into bytes and pixels!
                br
                b
                  | Limitless Hacking
                  br
                | 50+ hours of hacking, designing, tinkering and making awesome things.
                br
                b
                  | We provide
                  br
                | We&apos;ll provide food, drinks, lots of Wiiings, energy, swag and internet.
                br
          .row
            .col-sm-4.mb-xs-24
              h1.large.color-primary.mb0
                | Service Orientation
                br
              h5.color-primary.mb0
                | node.js and JavaScript or anything else? No problem. Just write service that offers an API you can connect to.
            .col-sm-4.mb-xs-24
              h1.large.color-primary.mb0
                | Content Management
                br
            .col-sm-4
              h1.large.color-primary.mb0
                | Web Design
                br
              h5.color-primary.mb0 Just create an amazing website&nbsp;
      section.image-square.right
        .col-md-6.p0.image
          .map-canvas(data-address='Melbourne, Victoria, Australia' data-map-zoom='12' data-maps-api-key="AIzaSyC7xLwUAS0z8L_258OqJx_IBmeSZMYzvjY")
        .col-md-6.content
          form.form-email(data-success='Thanks for your submission, we will be in touch shortly.', data-error='Please fill all fields correctly.')
            h6.uppercase.text-center Program
            input.validate-required(type='text', name='name', placeholder='Your Name')
            input.validate-required.validate-email(type='text', name='email', placeholder='Email Address')
            textarea.validate-required(name='message', rows='4', placeholder='Message')
            button(type='submit') Send Message
      section.bg-primary
        .container
          .row.mb48.mb-xs-24
            .col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1.text-center
              img.mb16(alt='Pic', src='img/vent2.png')
              h5.uppercase Exclusive Offers, Travel Tips &amp; More
          .row.mb40.mb-xs-24
            .col-sm-6.col-sm-offset-3
              form.form-newsletter.halves(data-success='Thanks for your registration, we will be in touch shortly.', data-error='Please fill all fields correctly.')
                input.mb0.transparent.validate-email.validate-required.signup-email-field(type='text', name='email', placeholder='Email Address')
                button.btn-white.mb0(type='submit') Keep Me Informed
                iframe.mail-list-form(srcdoc='<!-- Begin MailChimp Signup Form --><link href="https://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css"><style type="text/css">    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */</style><div id="mc_embed_signup"><form action="//mrare.us8.list-manage.com/subscribe/post?u=77142ece814d3cff52058a51f&id=94d040322a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>    <div id="mc_embed_signup_scroll">    <h2>Subscribe to our mailing list</h2><div class="indicates-required"><span class="asterisk">*</span> indicates required</div><div class="mc-field-group">    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"></div><div class="mc-field-group">    <label for="mce-FNAME">First Name </label>    <input type="text" value="" name="FNAME" class="" id="mce-FNAME"></div><div class="mc-field-group">    <label for="mce-LNAME">Last Name </label>    <input type="text" value="" name="LNAME" class="" id="mce-LNAME"></div>    <div id="mce-responses" class="clear">        <div class="response" id="mce-error-response" style="display:none"></div>        <div class="response" id="mce-success-response" style="display:none"></div>    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->    <div style="position: absolute; left: -5000px;"><input type="text" name="b_77142ece814d3cff52058a51f_94d040322a" tabindex="-1" value=""></div>    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>    </div></form></div><script type=\'text/javascript\' src=\'https://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js\'></script><script type=\'text/javascript\'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]=\'EMAIL\';ftypes[0]=\'email\';fnames[1]=\'FNAME\';ftypes[1]=\'text\';fnames[2]=\'LNAME\';ftypes[2]=\'text\';}(jQuery));var $mcj = jQuery.noConflict(true);</script><!--End mc_embed_signup-->')
          .row
            .col-sm-12.text-center
              p.fade-half.lead.mb0 *Newsletters are sent bi-monthly
      section
        .container
          .row
            .col-sm-10.col-sm-offset-1.text-center
              h3.uppercase.color-primary.mb40.mb-xs-24 Jury
              p.lead
                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
      section
        .container
          .row
            .col-md-4.col-sm-6
              .image-tile.outer-title.text-center
                img(alt='Pic', src='img/team-1.jpg')
                .title.mb16
                  h5.uppercase.mb0 Sally Marsh
                  span Creative Director
                p.mb0
                  | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
            .col-md-4.col-sm-6
              .image-tile.outer-title.text-center
                img(alt='Pic', src='img/team-2.jpg')
                .title.mb16
                  h5.uppercase.mb0 Tim Foley
                  span iOS Developer
                p.mb0
                  | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
            .col-md-4.col-sm-6
              .image-tile.outer-title.text-center
                img(alt='Pic', src='img/team-3.jpg')
                .title.mb16
                  h5.uppercase.mb0 Jake Robbins
                  span Brand Director
                p.mb0
                  | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
      section
        .container
          .row
            .col-sm-10.col-sm-offset-1.text-center
              h3.uppercase.color-primary.mb40.mb-xs-24 Sponsors
              p.lead
                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
      section
        .container
          .row
            .col-sm-10.col-sm-offset-1.text-center
              h3.uppercase.color-primary.mb40.mb-xs-24 A Place To Call Home
              p.lead
                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
      section.pt240.pb240
        .map-canvas(data-address='Melbourne, Victoria, Australia' data-map-zoom='12' data-maps-api-key="AIzaSyC7xLwUAS0z8L_258OqJx_IBmeSZMYzvjY")
      section.bg-secondary
        .container
          .row.mb64.mb-xs-24
            .col-sm-12.text-center.spread-children-large
              img(alt='Pic', src='img/avatar1.png')
              img(alt='Pic', src='img/avatar2.png')
              img(alt='Pic', src='img/avatar3.png')
              img(alt='Pic', src='img/avatar4.png')
              img(alt='Pic', src='img/avatar5.png')
          .row
            .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.text-center
              h2 Built by professionals, just for you.
              p.mb40.mb-xs-24
                | Foundry is a remarkably complete template offering you a plethora of handcrafted design elements. Whether promoting a product, service or portfolio - Foundry&apos;s unique and flexible style has you covered.
              a.mb0.btn.btn-lg.btn-filled(href='#purchase-template') Purchase Foundry
      section.image-bg.parallax.overlay
        .background-image-holder
          img.background-image(alt='image', src='img/home-2-5.jpg')
        .container
          .row.mb40.mb-xs-24
            .col-sm-12.text-center
              h3.mb8 Subscribe for a monthly roundup of best bits.
              p Don&apos;t worry, we hate spam too - that&apos;s why we only send out monthly emails.
          .row.mb80.mb-xs-24
            .col-sm-6.col-sm-offset-3
              form.form-newsletter.halves(data-success='Thanks for your registration, we will be in touch shortly.', data-error='Please fill all fields correctly.')
                input.mb0.transparent.validate-email.validate-required.signup-email-field(type='text', name='email', placeholder='Email Address')
                button.mb0(type='submit') Subscribe
                iframe.mail-list-form(srcdoc='<!-- Begin MailChimp Signup Form --><link href="https://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css"><style type="text/css">    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */</style><div id="mc_embed_signup"><form action="//mrare.us8.list-manage.com/subscribe/post?u=77142ece814d3cff52058a51f&id=94d040322a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>    <div id="mc_embed_signup_scroll">    <h2>Subscribe to our mailing list</h2><div class="indicates-required"><span class="asterisk">*</span> indicates required</div><div class="mc-field-group">    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"></div><div class="mc-field-group">    <label for="mce-FNAME">First Name </label>    <input type="text" value="" name="FNAME" class="" id="mce-FNAME"></div><div class="mc-field-group">    <label for="mce-LNAME">Last Name </label>    <input type="text" value="" name="LNAME" class="" id="mce-LNAME"></div>    <div id="mce-responses" class="clear">        <div class="response" id="mce-error-response" style="display:none"></div>        <div class="response" id="mce-success-response" style="display:none"></div>    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->    <div style="position: absolute; left: -5000px;"><input type="text" name="b_77142ece814d3cff52058a51f_94d040322a" tabindex="-1" value=""></div>    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>    </div></form></div><script type=\'text/javascript\' src=\'https://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js\'></script><script type=\'text/javascript\'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]=\'EMAIL\';ftypes[0]=\'email\';fnames[1]=\'FNAME\';ftypes[1]=\'text\';fnames[2]=\'LNAME\';ftypes[2]=\'text\';}(jQuery));var $mcj = jQuery.noConflict(true);</script><!--End mc_embed_signup-->')
          .row
            .col-sm-12.text-center.spread-children-large
              img.image-xxs.mb-xs-8.fade-1-4(alt='pic', src='img/c1.png')
              img.image-xxs.mb-xs-8.fade-1-4(alt='pic', src='img/c2.png')
              img.image-xxs.mb-xs-8.fade-1-4(alt='pic', src='img/c3.png')
              img.image-xxs.mb-xs-8.fade-1-4(alt='pic', src='img/c4.png')
      footer.bg-primary.pt96.pb96.pt-xs-48.pb-xs-48
        .container
          .row.mb64.mb-xs-32
            .col-md-5.text-right.text-left-xs
              h2.uppercase.bold.italic
                | Let&apos;s smash
                br
                |  your goals
                br
                |  together
            .col-md-2.hidden-sm.hidden-xs.text-center.pt48
              i.icon.icon-lg.ti-bolt.display-block
            .col-md-5.col-sm-6
              p.lead
                | Questions, bookings or feedback? Contact me by any
                br.hidden-sm
                |  of the channels below. I&apos;ll respond ASAP!
              h4.mb8 P: 0417 374 992
              h4.mb8 E: train@bendobson.net
              h4.mb0
                i.ti-twitter-alt
                |  @bendobson
          .row
            .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.text-center
              p.fade-1-4
                | Handcrafted by Medium Rare &copy; 2015
                br
                |  Built with Variant Page Builder
              ul.list-inline.social-list.mb0
                li
                  a(href='#')
                    i.icon.icon-xs.ti-twitter-alt
                li
                  a(href='#')
                    i.icon.icon-xs.ti-facebook
                li
                  a(href='#')
                    i.icon.icon-xs.ti-instagram
                      
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/flexslider.min.js')
    script(src='js/lightbox.min.js')
    script(src='js/masonry.min.js')
    script(src='js/twitterfetcher.min.js')
    script(src='js/spectragram.min.js')
    script(src='js/ytplayer.min.js')
    script(src='js/countdown.min.js')
    script(src='js/smooth-scroll.min.js')
    script(src='js/parallax.js')
    script(src='js/scripts.js')
